{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-striped">

                {% for message in messages %}
                {% if message %}
                    <div class="alert alert-info">{{ message }}</div>
                {% endif %}
                {% endfor %}
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>

                    
                    
                    {% for data in response %}
                   
                    <tr>
                        <td>
                            
                            <img src={{"https://image.tmdb.org/t/p/w500"|add:data.poster_path}} width="200px"
                                height="100%">
                        </td>
                        <td>Name : {{ data.title }} <br>Popularity: {{ data.popularity }} Views<br>Rating : {{data.vote_average }}<br><br>Overiew: {{data.overview }}<br>
                           
                            <br>
                            <br>
                            <br>
                            <br>
                            <button data-toggle="modal" type="button" data-target="#add-{{ data.id }}"
                                class="btn btn-danger">Remove</button>
                          
                            <button data-toggle="modal" type="button" data-target="#update-{{ data.id }}"
                                class="btn btn-primary">Update Change Movie</button>
                        </td>

                        
                        <div class="modal" id="add-{{ data.id }}">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <div class="modal-title">
                                            <h3>Delete From Your Watch List</h3>
                                        </div>
                                    </div>
                                    <div class="modal-body">
                                        Apakah anda yakin ingin menghapus Movie ini dari Watch List anda? <strong>
                                            {{ data.original_title | upper }}</strong>?
                                    </div>
                                    <div class="modal-footer">
                                        <a href="{% url 'deleteWatchList' data.id data.original_title %}"
                                            class="btn btn-danger">Remove</a>
                                        <button class="btn btn-dark" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal" id="update-{{ data.id }}">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <div class="modal-title">
                                            <h3>Update Your Watch List</h3>
                                        </div>
                                    </div>  
                                    <form action="{% url 'updateWatchList' data.id %}" method="POST">
                                    <div class="modal-body">
                                        
                                            {% csrf_token %}
                                            <label for="movie">Choose a New Movie:</label>
                                            <select name="movie" id="movie">
                                                {% for i in allfilm %}
                                                {% if i.id != data.id %}
                                                    <option value="{{i.id}}#{{i.title}}">{{i.title}}</option>
                                                {% endif %}
                                                {% endfor %}
                                            </select>
                                            <br><br>
                                            <input type="submit"  class="btn btn-primary value="Submit">
                                   





                                      
                                    </div>
                                </form>
                                </div>
                            </div>
                        </div>



                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}